<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col">

      <h2>会員情報編集</h2>
      <%= form_with model: current_customer, url: customers_path, local: true do |f|%>

        <% if @customer.errors.any? %>
          <%= @customer.errors.count %>件のエラーが発生しました
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>

        <table class="table mb-4">
          <tr>
            <th>氏名</th>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>

          <tr>
            <th>カナ</th>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>

          <tr>
            <th>郵便番号（ハイフンなし）</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>

          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>

          <tr>
            <th>電話番号（ハイフンなし）</th>
            <td><%= f.text_field :phone_number %></td>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email%></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class:"btn btn-secondary btn-secondary-simple mt-5" %></td>
            <td><%= link_to "退会する", customers_quit_path, class:"btn btn-danger mt-5" %></td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>