<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <%= render "genre", genre: @genre %>
    </div>
    <div class="col-9 mt-3">
      <h2>商品一覧<span class="h4">(全 <%= @total_products.count %> 件)</span></h2>
      <div class="flex-wrap d-flex">
        <% @products.each do |product| %>
          <div class="card w-50 mx-auto mt-4 shadow-lg">
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag product, :image, size:"200x200", fallback:"no_image.jpg" %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <%= link_to product.name, product_path(product) %></br>
                  <%= "¥"+(product.with_tax_price).to_s(:delimited) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>
</div>