<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 mt-3">
      <h2>商品一覧</h2>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name,admin_product_path %></td>
            <td><%= product.price %></td>
            <td><%= product. %></td>
            <td><%=  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>